.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  color: #111111;
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #34495e;
}

.logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.menu {
  flex-grow: 1;
  padding: 10px 0;
}

.menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.menu-item {
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #eceff1;
}

.menu-title {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-weight: bold;
}

.menu-icon {
  font-size: 18px;
  margin-right: 15px;
}

.toggle-arrow {
  margin-left: auto;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.toggle-arrow.open {
  transform: rotate(-90deg);
}

/* Submenu */
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.submenu li {
  padding-left: 55px; 
}

.submenu-item {
  display: block;
  padding: 10px 20px;
  color: #050505;
  text-decoration: none;
}

.submenu-item:hover {
  color: #070707;
}

.menu-item.active {
  background-color: #3498db;
  color: #fff;
}

.menu-item.active .menu-icon,
.menu-item.active .menu-title,
.menu-item.active .toggle-arrow {
  color: #fff;
}

/* Logout */
.logout {
  padding: 20px;
  border-top: 1px solid #34495e;
}

.logout button {
  background: none;
  border: none;
  color: #e74c3c;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-icon {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-logo {
  padding: 20px 0;
  border-bottom: 1px solid #34495e; /* igual antes */
}
.sidebar-logo img {
  max-width: 80%;
  height: auto;
}